* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#container {
  background-color: #F4F4F4;
  height: 100vh;
  padding: 20px;
 }

.flex-wrap {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: pink;  */
}

.card {
  /* background-color: pink; */
  position: relative;
}

.card .des {
  background-color: #F97300;
  border-top-right-radius: 93%;
  position: absolute;
  width: 105%;
  bottom: 24px;
  color: #fff;
  transition: all .3s ease-in-out;
  height: 12%;
}

.card .des h3 {
  position: absolute;
  top: 3px;
  left: 40%;
}

.card .role {
  color: #868e96;
}

.card:hover .des {
  height: 100%;
  top: 0;
  border-top-right-radius: 0;
  background-color: #F973007d;
}

.card:hover .des h3 {
  top: 50%;
  left: 55%;

}

.blog-card {
  /* background-color: pink; */
  width: 30%;
  box-shadow: 0 0 20px #ccc;
  border-radius: 3px;
}

.blog-card .blog-card-body {
  padding: 15px;
  border-bottom: 1px solid gray;
}

.blog-card .blog-card-footer {
  padding: 15px;
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}